@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.studentVisaBackground{
  background-image: url('../assets/LandingPageBanner3.jpg');
}
.studentVisaBackgroundBanner {
  background-image: url('../assets/StudentVisaBackground.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image within the element */
  background-repeat: no-repeat;
}
.faqBackgroundBanner{
  background-image: url('../assets/FaqBanner.svg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image within the element */
  background-repeat: no-repeat;
}
.countriesBackgroundBanner{
  background-image: url('../assets/CountriesBanner1.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image within the element */
  background-repeat: no-repeat;
}
.consultaionForm {
  background-color: white;
  margin-top: 3rem;
  padding: 1.5rem 3rem;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}

@media (max-width: 500px) {
  .consultaionForm {
    /* Adjust styles for devices with a width less than 500px */
    margin-top: 2.5rem;
    padding: 1.5rem 1rem;
    /* You can also adjust the width if needed */
    width: 100vw;
  }
}

.formStepper{
  
}
@media (max-width: 410px) {
  .formStepper {
    
  }
}

.custom-swiper {
  /* Add overall styling if needed */
  position: relative;
}

/* Style individual slides */
.custom-swiper .swiper-slide {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom Navigation Arrow Styles */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

/* Adjust arrow icon appearance */
.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  font-size: 12px;
  color: #fff;
}

/* Position adjustments */
.custom-swiper .swiper-button-prev {
  left: 10px;
}
.custom-swiper .swiper-button-next {
  right: 10px;
}

/* Optional: Hide arrows on very small screens */
@media (max-width: 480px) {
  .custom-swiper .swiper-button-prev,
  .custom-swiper .swiper-button-next {
    display: none;
  }
}
